.docs__container {

    .downloadLink {
        cursor: pointer;
    }

    h1 + ul {
        display: none;
    }

    display: flex;

    .docs__content {
        flex: 1;
    }

    .docs__sub-toc {
        flex: 0 0 250px;
        display: none;

        @include mq(lg) {
            display: block;
        }
    }
}

.filtermsg {
    display: none;
    font-size: 25px;
    margin-top: 20%;
    color: rgba(119, 119, 119, 0.89);
}

.iframe-wrapper {
    position: relative;
    margin: 24px 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reqanalyticsinline {
    background-repeat: no-repeat;
    margin-top: 30px;
}

.reqtimeinline, .reqworkingpapersinline, .reqauditinline, .reqtaxinline, .reqseinline, 
.reqse, .reqanalytics, .reqtime, .reqworkingpapers, .reqaudit, .reqtax, .reqpcr, .reqrct {
    margin: 30px 0;
}

.pcrsectiontext { background-color: rgba(142, 142, 142, 0.1); }
.rctsectiontext { background-color: rgba(142, 142, 142, 0.1); }
.sesectiontext { background-color: rgba(107, 48, 119, 0.10); }
.analyticssectiontext { background-color: rgba(229, 114, 0, 0.10); }
.timesectiontext { background-color: rgba(183, 49, 44, 0.10); }
.taxsectiontext { background-color: rgba(76, 140, 43, 0.10); }
.workingpaperssectiontext { background-color: rgba(0, 45, 114, 0.10); }
.auditsectiontext { background-color: rgba(201, 151, 0, 0.10); }

.feature-availability {
    display: flex;
    align-items: center;
    padding: 25px;

    .prdsectionlogo {
        max-width: 75px!important;
    }

    .prdsectiontext {
        font-style: italic;
    }

    p {
        margin: 0 0 0 10px;
    }
}