.docs__container {
    display: flex;

    .docs__content {
        flex: 1 1 auto;
    }

    .docs__sub-toc {
        flex-basis: 550px;
        display: none;

        @include mq(lg) {
            display: block;
        }
    }
}