.docs__container {
    display: flex;

    .docs__sub-toc {
        flex: 1 0 250px;
        display: none;

        @include mq(lg) {
            display: block;
        }
    }
}

.filtermsg {
    display: none;
    font-size: 25px;
    margin-top: 20%;
    color: rgba(119, 119, 119, 0.89);
}