.home {
    #main {
        margin-top: 4.8rem;
    }

    .container {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .home-banner {
        color: $white;

        .container {
            // margin: 0;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            min-height: 50vh;
            padding-bottom: 6.2rem;
        }      
    }
}

@include mq(md) {

    .home {
        #main {
            margin-top: 7.2rem;
        }

        .container {
            margin-top: 2.4rem;
            margin-bottom: 2.4rem;
        }
    }
}