.landing {

    #main {
        margin-top: 4.8rem;

        > div {
            position: relative;
            display: block;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }
    }

    &__banner {
        position: relative;
        color: $white;
    }
    

    &__links {

        .links {
            display: flex;
            flex-direction: column;

            &__block {
                flex: 1;

                h2 {
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
}


/********************
    Landing Banner
*********************/

.landing-banner {
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba($dark-grey, 0), rgba($dark-grey, 0.7));
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 30rem;
        height: 60vh;
        padding-bottom: 6.2rem;

        span {
            display: block;
            padding: 1.2rem 0;
            font-size: 1.8rem;
            line-height: 2.2rem;
            font-weight: 300;
        }
    }  
    
    .cta {
        display: block;
        margin-top: 2rem;

        a {
            display: inline-block;
            margin-right: 1.2rem;
            padding: 1.2rem 2.4rem;
            color: $white;
            transition: 0.5s all;

            &:hover {
                text-decoration: none;
            }

            &:first-child{
                background-color: $caseware-blue;
                &:hover {
                    background-color: #1a8fb5;
                }
            }

            &:last-child {
                background: rgba(255, 255, 255, 0.2); 
                backdrop-filter: blur(8px);  
                &:hover {                    
                    background: rgba(255, 255, 255, 0.3); 
                }
            }             
        }
    }
}


/********************
 Product Navigation
*********************/

.product-nav {
    &__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > div {
            flex: 0 0 100%;
            margin-bottom: 2.4rem;
        }

        &--2col > div,
        &--3col > div {
            @include mq(sm) {
               flex: 0 0 calc(50% - 2.4rem);

               &:nth-child(odd) {
                   margin-right: 2.4rem;
               }
            }
        }

        &--3col > div {
            @include mq(md) {
                flex: 0 0 calc(33% - 4.8rem);
                margin: 0 1.2rem 2.4rem;
                &:nth-child(odd) {
                    margin: 0 1.2rem 2.4rem;
                }
            }
        }
    }

    &__item {
        flex: 1;
        padding: 3.6rem 4.8rem;
        background: $white;
        -webkit-box-shadow: 0 5px 8px 0 rgba(80,80,80,0.3);
        -moz-box-shadow: 0 5px 8px 0 rgba(80,80,80,0.3);
        box-shadow: 0 5px 8px 0 rgba(80,80,80,0.3);

        & > * {
            display: block;
        }

        img {
            margin-bottom: 2.4rem;
        }
    }
}


/********************
    Downloads
*********************/

.landing-downloads {


    &__wrapper {
        margin-top: 2.4rem;
    }

    .downloads {

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.2rem;
        padding: 1.8rem 2.4rem;
        width: 100%;
    
        border-radius: 10px;
        background-color: $white;
        -webkit-box-shadow: 0 5px 10px 0 rgba(80,80,80,0.3);
        -moz-box-shadow: 0 5px 10px 0 rgba(80,80,80,0.3);
        box-shadow: 0 5px 10px 0 rgba(80,80,80,0.3);

        .icon {
            min-width: 3rem;
            max-width: 4rem;

            svg {
                width: 100%;
                height: auto;
                path {
                    fill: $light-grey;
                }
            }

            h3 {
                color: $light-grey;
                text-align: center;
            }

            &--mobile {
                display: block;
                margin-right: 2.4rem;
                width: 10%;
            }

            &--desktop {
                display: none;
            }
        }

        h3, p {
            margin: 0;
        }

        h3 {
            &.title {
                flex: 1;
            }

            &.grey {
                color: $light-grey;
                display: block;
                white-space: nowrap;
            }
            
            &.mobile {
                display: block;
                margin-left: 1.2rem;
            }
        }

        a {
            margin-left: 0;
            margin-top: 2.4rem;
            width: 100%;
        }
        
        &__content {
            flex: 1;

            & > div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}

@include mq(sm) {

    .landing {

        &__links .links {
            flex-direction: row;

            &__block {
                margin: 0 1.2rem;

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .landing-banner {
        &__wrapper span {
            max-width: 75%;
        }
    }

    .landing-downloads {

        .downloads {
            flex-direction: row;

            & > div:first-child {
                margin-right: 2.4rem;
            }

            .icon {
                max-width: 6rem;

                &--mobile {
                    display: none;
                }
                &--desktop {
                    display: block;
                }
            }

            a {
                margin-top: 0;
                margin-left: 2.4rem;
                width: auto;
            }

            h3.mobile {
                display: none;
            }
        }
    }
}

@include mq(md) {

    .landing {
        #main {
            margin-top: 7.2rem;

            > div {
                padding-top: 4.8rem;
                padding-bottom: 4.8rem;
            }
        }
    }
}


@include mq(lg) {

    .landing-banner {
        h1 {
            font-size: 6rem;
        }
    }
}