
// Mk4 Specific updates 
// TODO - move to separate files?

.in-this-article {
    padding: 0;

    span {
        margin-bottom: 1.5rem;
        font-weight: 700;
        font-size: 1.6rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        line-height: 1.3;

        li {
            margin: 3px 0;
            padding: 3px 0;
        }
    }
}

.social {
    display: flex;
    padding: 2.4rem 0;

    &__wrapper {
        margin-right: 0.6rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.quick-links {

    h2 {
        margin-bottom: 3rem;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        // padding: 2.4rem;
        // -webkit-box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);
        // -moz-box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);
        // box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);

        & > a:hover {
            text-decoration: none;
        }
    }

    .quick-link {
        display: flex;
        // flex: 1;
        flex-direction: row;
        align-items: center;
        // margin: auto;
        padding: 1.2rem;
        width: 50%;

        & > div {
            &:first-child {

            }

            &:last-child {
                flex: 1;
                padding-left: 2.4rem;
            }
        }

        p {
            padding-top: 1.2rem;
            font-size: 1.6rem;
        }

        img {
            max-width: 12rem;
            max-height: 8rem;
        }
    }
}

.embedded-video {
    position: relative;

    & > div:first-child {
        position: absolute;
        top: 0;
    }
    
    img {
        width: 100%;
        height: auto;
        cursor: pointer;

        &.embedded-video__play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10%;
        }
    }
}

.iframe-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9 / 16 * 100% */

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

@include mq(sm) {

    .social {
        padding-bottom: 0;
    }

    .in-this-article {
        padding-top: 1.2rem;
    }

    // .quick-links {
    //     &__wrapper {
    //         flex-direction: row;
    //         align-items: flex-end;
    //     }

    //     .quick-link {
    //        text-align: left;
    //     }
    // }
}

// @include mq(lg) {

// }