body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#results-heading {
    margin-bottom: 25px;
}

#resultList > li {
    list-style: none;
    margin-bottom: 25px;

    h3 {
        margin-bottom: 3px;
    }
}

.url {
    color:green;
}

#pagination {
    margin: 15px;
    border-top: 2px solid #0085ad;
    padding-top: 10px;
}

#pagination > .specificPage, 
#pagination > .previousPage, 
#pagination > .nextPage {

    padding: 12px;
    font-size: 22px;
    margin: 25px 10px;
    
}