.csh {
    main#main > div {
        margin-top: 4.8rem;
    }
} 

.accordion {

    h2, h3 {
        margin: 0;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked {
            + .tab__label {
                &::after {
                    content: "-";
                }
            }
            ~ .tab__content {
                max-height: 100vh;
                padding-bottom: 1.2rem;
            }
        }
    }

    .tab {
        width: 100%;
        overflow: hidden;

        &--group {
            margin-bottom: 1.2rem;
        }
        
        &__label {
            display: flex;
            justify-content: space-between;
            padding: 1.2rem 0;
            font-weight: bold;
            cursor: pointer;

            &::after {
                content: "+";
                text-align: center;
                transition: all 0.5s;
                font-size: 2.8rem;
                font-weight: 300;
                line-height: 1;
            }
        }

        &__outer-details {
            display: block;
            margin: -1rem 0 2.4rem;
            color: $grey-2;
            font-size: 1.2rem;
            font-weight: 100;
            text-transform: uppercase;

            svg {
                margin-right: 1rem;
            }
        }

        &__content {
            max-height: 0;
            padding-left: 4.8rem;
            padding-right: 4.8rem;
            transition: all 0.5s;

            .link {
                display: block;

                a {
                    display: inline;
                }
            }
        }
    }

    &__faq {
        & > h2 {
            margin: 6rem 0 4.8rem;
        }
    }
}

.ReactModal__Overlay {
    z-index: 10000;
}

.lightbox {

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#323232, 0.9);
    }

    &__video {
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        right: 2.4rem;
        bottom: 0;
        overflow: auto;
        outline: none;
        color: $white;
    }

    &__region {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 50rem;
        height: auto;
        background-color: $white;
        border: 0;
    }

    &__header {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0;
            padding: 0 0 2.4rem 0;
            background: none;
            border: 0;
            outline: none;
            font-size: 4.8rem;
            line-height: 1;
        }
    }
}

.video-lightbox {

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;

        & > div:first-child {
            position: relative;
            width: 100%;
        }

        iframe {
            max-width: 100%;
        }
    }

    &__details {
        padding: 4.8rem 0;
        overflow-y: auto;
        flex: 1;

        p {
            font-weight: 300;

            a {
                font-weight: bold;
            }
        }
    }

    &__title {
        margin-bottom: 2.4rem;

        h1, h2, h3 {
            margin: 0
        }

        h3 {
            font-weight: bold;
            font-size: 1.8rem;
        }
    }

    &__description .grid-item__filter {
        font-size: inherit;
        margin-bottom: 4.8rem;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-self: start;
        margin-top: 2.4rem;
    }
}

.region-lightbox {
    padding: 0 2.4rem 2.4rem;

    .btn-container {
        padding-top:2.4rem;
        display: flex;
        justify-content: space-between;
    }
    
    .message {
        display:flex;
        justify-content: center;
    }
}

@include mq(md) {
    .lightbox {
        &__video {
            position: absolute;
            top: 2.4rem;
            left: 2.4rem;
            right: 4.8rem;
            bottom: 6.2rem;
            overflow: auto;
            outline: none;
            color: $white;
        }
    }

    .video-lightbox {
        &__content {
            flex-direction: row;
            & > div:first-child {
                flex: 0 0 65%;
                height: auto;
            }
        }
        &__details {
            padding: 0 0 0 2.4rem;
            display: flex;
            flex-direction: column;
        }
        &__description {
            flex: 1;
        }
    }
}