.whats-new {

    h1 {
        font-size: 3.2rem;
        font-weight: 300;
    }

    &__banner {
        color: $white;

        .banner__wrapper {
            padding: 12rem 0 4.8rem;
        }

        h1 {
            margin: 0 0 30px;

            span {
                font-weight: 900;
                display: block;
            }
        }

        p {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.4;
        }
    }

    &__feature {
        padding: 1.2rem 0;

        .feature {
            &__header {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            &__content {
                padding-left: 0;
            }

            h2 {
                margin-top: 0;
            }
        }
    }

    .voter {
        display: flex;
        flex-direction: row;
        padding-bottom: 12px;
        color: grey;

        .up svg {
            color: green;
        }
        .down svg {
            color: red;
        }
    }
}

@include mq(sm) {
    .whats-new {
        &__banner {  
            .banner__wrapper {
                padding: 6rem 0;
            }

            h1 span {
                display: inline;
            }

            p {
                font-size: 1.8rem;
            }
        }

        &__feature {  
            .feature {
                &__header {
                    flex-direction: row;
                    align-items: center;
                }

                &__content {
                    padding-left: 40px; // TODO - change
                }
            }
        }

        .voter {
            flex-direction: column;
            padding-right: 12px;
            padding-bottom: 0;
        }
    }
}
