.whats-new {

    .in-this-article {
        span {
            margin-bottom: 1.5rem;
            font-weight: 700;
            font-size: 1.6rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            line-height: 1.3;

            li {
                margin: 3px 0;
                padding: 3px 0;
            }
        }
    }

    &__banner {
        color: $white;

        .banner__wrapper {
            padding: 12rem 0 4.8rem;
        }

        h1 {
            margin: 0 0 30px;

            span {
                font-weight: 900;
                display: block;
            }
        }

        p {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.4;
        }
    }

    &__feature {
        padding: 1.2rem 0;

        .feature {
            &__header {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;

                &--no-voter {
                    h2 {
                        margin-bottom: 3rem;
                    }
                }
            }

            &__content {
                padding-left: 0;
            }

            h2 {
                margin-top: 0;
            }
        }
    }

    .voter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.4rem;
        width: 12rem;
        color: $light-grey;
        line-height: 1;

        .arrow {
            font-size: 3.8rem;
            line-height: 0;
            cursor: pointer;

            svg {
                transition: all 0.1s;
            }

            &--up svg {
                color: #6EAB7E;
            }

            &--down svg {
                color: #D45454;
            }

            &:hover svg {
                color: #ccc;
            }
        }

        .total {
            flex: 1;
            padding: 0 1.2rem;
            color: #ddd;
            font-size: 1.3rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@include mq(sm) {
    .whats-new {
        &__banner {  
            .banner__wrapper {
                padding: 6rem 0;
            }

            h1 span {
                display: inline;
            }

            p {
                font-size: 1.8rem;
            }
        }

        &__feature {  
            .feature {
                &__header {
                    flex-direction: row;
                    align-items: center;

                    &--voter {
                        h2 {
                            margin: 0;
                        }
                    }

                    &--no-voter {
                        padding-left: 6.2rem;
                    }
                }

                &__content {
                    padding-left: 6.2rem;
                }
            }
        }

        .voter {
            flex-direction: column;
            margin-right: 2rem;
            margin-bottom: 0;
            width: 4.2rem;

            .total {
                padding: 0;
            }
        }
    }
}
