resources/assets/js/modules/old/*
resources/assets/js/components/*
resources/assets/js/bootstrap.js
/resources/assets/js/modules/docs/toc.js
/resources/assets/js/modules/search.js
/resources/assets/js/modules/filter.js
/resources/assets/js/modules/docs/filter.js
/resources/assets/js/modules/docs/redirects.js
resources/assets/js/vendor/*
resources/assets/js/polyfill.js
/resources/assets/js/modules/docs/download-pdf.js