@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta conditions="Primary.Not_Implemented" />*/

html.noMasterPage
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

body
{
	font-size: 90%;
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	border: 0;
	/*width: 98%;*/
	background: #fff;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 20px;
}

body.inner
{
	font-size: 90%;
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	border: 0;
	/*width: 98%;*/
	background: #fff;
	padding: 0px;
}

/* = HEADING STYLES
----------------------------*/

h1
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 20pt;
	padding-bottom: 4pt;
	color: #0A0A63;
	mc-next-tag: p;
}

h1.justifyCenter
{
	text-align: center;
}

h2
{
	font-family: Verdana;
	font-weight: bold;
	color: #0A0A63;
	font-size: 16pt;
	padding-top: 2pt;
	mc-next-tag: p;
}

h3
{
	font-family: Verdana;
	font-weight: bold;
	margin-left: 18.00pt;
	color: #32328B;
	font-size: 14pt;
	padding-top: 1pt;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

h4
{
	font-family: Verdana;
	margin-left: 18.00pt;
	color: #32328B;
	font-weight: bold;
	font-size: 14pt;
	padding-top: 1pt;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

/* = PARAGRAPH STYLES
----------------------------*/

p
{
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	margin-left: 0pt;
	padding-bottom: 3.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	mc-next-tag: p;
}

p.noSpace
{
	margin-bottom: 0pt;
	mc-next-tag: p;
}

p.Indent
{
	margin-left: 5pt;
	mc-next-class: Indent;
	mc-next-tag: p;
}

p.Indent_forLabel
{
	margin-top: 0.00pt;
	margin-left: 11.00pt;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
}

p.Indent_forLabel_wIndent
{
	margin-top: 0.00pt;
	margin-left: 15.00pt;
	mc-next-class: Indent_forLabel_wIndent;
	mc-next-tag: p;
}

p.Indent_forH3andLower
{
	margin-top: 0.00pt;
	padding-bottom: 1.50pt;
	margin-left: 18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

p.Indent_forH3andLower_and_forLabel
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 27.00pt;
	mc-next-class: Indent_forH3andLower_and_forLabel;
	mc-next-tag: p;
}

p.Body_List
{
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	margin-top: 0pt;
	margin-bottom: 2pt;
	mc-next-tag: p;
}

p.justifyCenter
{
	text-align: center;
	margin-top: 0pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
}

p.justifyRight
{
	text-align: right;
	margin-top: 0pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
}

p.QuickVid
{
	color: #BEBEBE;
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
	text-align: left;
}

/* = PARAGRAPH LABEL STYLES
----------------------------*/

p.Label
{
	margin-top: 9.00pt;
	margin-bottom: 2.00pt;
	font-family: Verdana;
	text-align: left;
	font-weight: bold;
	font-size: 11pt;
	mc-next-tag: p;
	color: #000059;
}

p.Label_wIndent
{
	margin-top: 6.00pt;
	margin-bottom: 1.00pt;
	margin-left: 11.00pt;
	text-align: left;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 9pt;
	margin-bottom: 0pt;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
	color: #000045;
}

p.Label_forH3andLower
{
	margin-top: 5.00pt;
	margin-bottom: 2.00pt;
	margin-left: 18.00pt;
	text-align: left;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 9pt;
	margin-bottom: 0pt;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
	color: #000059;
}

p.Label_forH3andLower_wIndent
{
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	margin-left: 27.00pt;
	text-align: left;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 9pt;
	margin-bottom: 0pt;
	mc-next-class: Indent_forH3andLower_and_forLabel;
	mc-next-tag: p;
	color: #000045;
}

/* = PARAGRAPH NOTE STYLES
----------------------------*/

p.Note
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #F2FFFF;
	margin-right: 12pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-tag: p;
}

p.Note_Indent_forLabel
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #F2FFFF;
	margin-right: 12pt;
	margin-left: 11pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
}

p.Note_Indent_forLabel_wIndent
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #F2FFFF;
	margin-right: 12pt;
	margin-left: 15pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel_wIndent;
	mc-next-tag: p;
}

p.Note_Indent_forH3andLower
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #F2FFFF;
	margin-right: 12pt;
	margin-left: 18pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

p.Note_Indent_forH3andLower_and_forLabel
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #F2FFFF;
	margin-right: 12pt;
	margin-left: 27pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower_and_forLabel;
	mc-next-tag: p;
}

p.ImpNote
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #FFE4E4;
	margin-right: 12pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-tag: p;
}

p.ImpNote_Indent_forLabel
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #FFE4E4;
	margin-right: 12pt;
	margin-left: 11pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
}

p.ImpNote_Indent_forLabel_wIndent
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #FFE4E4;
	margin-right: 12pt;
	margin-left: 15pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel_wIndent;
	mc-next-tag: p;
}

p.ImpNote_Indent_forH3andLower
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #FFE4E4;
	margin-right: 12pt;
	margin-left: 18pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

p.ImpNote_Indent_forH3andLower_and_forLabel
{
	display: inline-block;
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Tahoma;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #FFE4E4;
	margin-right: 12pt;
	margin-left: 27pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower_and_forLabel;
	mc-next-tag: p;
}

p.xCode
{
	display: inline-block;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #C7D5E7;
	margin-right: 30pt;
	margin-left: 10pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-tag: p;
}

p.xCode_Indent_forLabel
{
	display: inline-block;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #C7D5E7;
	margin-right: 30pt;
	margin-left: 21pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
}

p.xCode_Indent_forLabel_wIndent
{
	display: inline-block;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #C7D5E7;
	margin-right: 30pt;
	margin-left: 25pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forLabel;
	mc-next-tag: p;
}

p.xCode_Indent_forH3andLower
{
	display: inline-block;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #C7D5E7;
	margin-right: 30pt;
	margin-left: 28pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower;
	mc-next-tag: p;
}

p.xCode_Indent_forH3andLower_and_forLabel
{
	display: inline-block;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	background-color: #C7D5E7;
	margin-right: 30pt;
	margin-left: 37pt;
	border-radius: 5px;
	-moz-border-radius: 5px;
	mc-next-class: Indent_forH3andLower_and_forLabel;
	mc-next-tag: p;
}

p.RelatedTopics
{
	margin-top: 6.00pt;
	color: #060970;
	margin-bottom: 2.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #0078a9;
	margin-top: 9pt;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #006699;
	mc-next-class: Body;
	mc-next-tag: p;
}

p.LightBox
{
	color: #fff;
	display: block;
	background-color: #463E41;
	font-family: Verdana;
	font-size: 10pt;
	text-align: center;
	padding-left: 6pt;
	padding-bottom: 6pt;
	margin-bottom: 6pt;
	border-bottom: solid 1px #AAA2A5;
}

p.LightBox A:link
{
	color: #F0E8EB;
	font-weight: bold;
}

p.LightBox A:visited
{
	color: #F0E8EB;
	font-weight: bold;
}

a.LightBoxClose
{
	cursor: pointer;
	float: right;
	padding-right: 30px;
	height: 40px;
	text-indent: -9999px;
	background: url('../Icons/Docs/amazon-style-close-button.png') no-repeat 0 2px;
}

/* = LIST STYLES
----------------------------*/

ul
{
	margin-left: 2em;
	padding-top: 0em;
	padding-left: 0.2em;
	margin-top: 0.50em;
	margin-bottom: 1em;
}

ul.bulletRed
{
	margin-left: 2.25em;
	padding-left: 0.25em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/bulletred.gif');
}

ul.checkmarkRed
{
	margin-left: 2.25em;
	padding-left: 0.25em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/checkmarkRed.gif');
}

ul.xmarkRed
{
	margin-left: 2.25em;
	padding-left: 0.25em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/xmarkRed.png');
}

ul.bulletRed p.Label
{
	margin-top: 4.00pt;
	margin-bottom: 2.00pt;
	margin-left: 0pt;
	font-family: Verdana;
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
	mc-next-tag: p;
	color: #000059;
}

ul.bulletRed_forLabel
{
	margin-left: 3.25em;
	padding-left: 0.25em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/bulletred.gif');
}

ul.bulletRed_forH3andLower
{
	margin-left: 3.75em;
	padding-left: 0.25em;
	margin-top: 0.50em;
	margin-bottom: 0.50em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/bulletred.gif');
}

ul.bulletRed_forH3andLower li
{
	padding-top: 2.00pt;
}

ul.bulletRed_forH3andLower_and_forLabel
{
	margin-left: 4.50em;
	padding-left: 0.25em;
	margin-top: 0.50em;
	margin-bottom: 0.50em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	list-style: url('../Icons/Docs/bulletred.gif');
}

ul.bulletRed_forH3andLower_and_forLabel li
{
	padding-top: 2.00pt;
}

ol
{
	margin-left: 2em;
	padding-left: 0.2em;
	margin-bottom: 1em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
}

ol.forLabel
{
	margin-left: 3.30em;
	padding-left: 0.2em;
	margin-bottom: 1em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
}

ol.forLabel li
{
	padding-top: 0pt;
	padding-left: 0.15em;
}

ol.forH3andLower
{
	margin-left: 4.00em;
	padding-left: 0.2em;
	margin-bottom: 1em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
}

ol.forH3andLower li
{
	padding-top: 0pt;
	padding-left: 0.15em;
}

ol.forH3andLower_and_forLabel
{
	margin-left: 4.75em;
	padding-left: 0.2em;
	margin-bottom: 1em;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
}

ol.forH3andLower_and_forLabel li
{
	padding-top: 0pt;
	padding-left: 0.15em;
}

ol.Alpha
{
	margin-top: 1pt;
	margin-left: 1.25em;
	padding-left: 0.25em;
	margin-bottom: 4pt;
	list-style: lower-alpha;
}

ol.Alpha_forH3andLower
{
	margin-top: 1pt;
	margin-left: 1.95em;
	padding-left: 0.25em;
	margin-bottom: 4pt;
	list-style: lower-alpha;
}

li
{
	margin-top: 4.00pt;
	margin-bottom: 2.00pt;
	padding-top: 4.00pt;
	padding-left: 0.25em;
	mc-next-tag: li;
}

li.noSpace
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-bottom: 0px;
	list-style: url('../Icons/Docs/bulletred.gif');
	mc-next-class: noSpace;
	mc-next-tag: li;
}

li.AlphaList
{
	text-align: left;
	margin-top: 2.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	mc-next-class: AlphaList;
	mc-next-tag: li;
}

ul.navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

img
{
	border: none;
	margin: 0.5em 0;
	max-width: 100%;
	height: auto;
	vertical-align: text-bottom;
}

a.Popup
{
	
}

.cursor:hover
{
	cursor: pointer;
}

/* = TABLES STYLES
----------------------------*/

table.footer
{
	border: 0;
}

table.footer td
{
	border: 0;
}

table
{
	margin-left: 5pt;
	border: solid 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}

table.noBorder
{
	margin-left: 5pt;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 0px;
}

table.noBorder td
{
	border: 0px;
}

table.noBorder_center
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 0px;
}

table.noBorder_center td
{
	border: 0px;
}

table.Indent
{
	margin-top: 10.00px;
	margin-bottom: 15.00px;
	margin-left: 15.00pt;
	border: solid 1px;
}

table.Indent_forH3andLower
{
	margin-top: 10.00px;
	margin-bottom: 15.00px;
	margin-left: 27.00pt;
	border: solid 1px;
}

th
{
	padding-left: 5px;
	padding-right: 10px;
	text-align: left;
	font-weight: bold;
	background-color: #F0EEE3;
	border: solid 1px;
}

td
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 5px;
	border: solid 1px;
}

td ul
{
	margin-top: 0px;
	padding-top: 0px;
}

td ul.bulletRed
{
	margin-left: 15px;
}

td ul.bulletRed li
{
	margin-top: 0px;
	padding-top: 0px;
}

tr.footer
{
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	margin-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td.footer
{
	font-size: 8pt;
	font-family: Verdana;
	color: #0000ff;
}

td.center
{
	text-align: center;
}

td.right
{
	text-align: right;
}

/* = MADCAP COMPILER STYLES
----------------------------*/

MadCap|popup
{
	mc-popup-width: auto;
	mc-popup-height: auto;
}

MadCap|popupBody.CSH_Note
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #f7941e;
	color: #172139;
}

span.popupBodyCSH_Note
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #f7941e;
	color: #172139;
}

MadCap|popup.CSH_Note
{
	color: #6495ed;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edbd64;
}

MadCap|dropDownBody.Default
{
	color: #000000;
	font-family: Arial;
	font-size: 12pt;
	text-align: left;
	border-bottom: solid 1px #000000;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	margin: 1.12em;
	margin-bottom: 9pt;
	margin-left: 0.00pt;
	margin-right: 0.00pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	border-top: none 0px;
	display: block;
	padding-top: 6pt;
	margin-top: 0.00pt;
	background-color: #f5f5f5;
}

MadCap|dropDownHead.Default
{
	color: #25375d;
	display: block;
	background-color: #e1e1e1;
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	padding-left: 6pt;
	padding-bottom: 6pt;
	margin-bottom: 6pt;
}

span.dropDownHeadDefault
{
	color: #25375d;
	display: block;
	background-color: #e1e1e1;
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	padding-left: 6pt;
	padding-top: 6pt;
	padding-bottom: 6pt;
	margin-bottom: 6pt;
}

MadCap|dropDownHead.KeyStone_MoreInfo
{
	font-size: 12pt;
	text-align: center;
	display: block;
	margin: 5px;
	padding: 10px;
	font-family: Verdana;
	background-color: #8064A2;
}

MadCap|dropDownHotspot.KeyStone_MoreInfo
{
	color: #ffffff;
	font-family: Verdana;
}

MadCap|dropDownBody.KeyStone_MoreInfo
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
	margin: auto 0px;
	padding-bottom: 6pt;
	padding-top: 6pt;
	border-top: solid 1px #fff;
	background-color: #8064A2;
}

div.dropDownBodyKeyStone_MoreInfo
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
	text-align: left;
	padding-bottom: 6pt;
	display: block;
	padding-top: 6pt;
	margin-top: 0.00pt;
	margin-left: 0pt;
	background-color: #8064A2;
	border-top: solid 1px #fff;
}

span.dropDownHeadKeyStone_MoreInfo
{
	display: block;
	text-align: center;
	padding-top: 6pt;
	padding-bottom: 12pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	margin-left: 10pt;
	margin-right: 10pt;
	font-family: Verdana;
	font-size: 1.20em;
	font-weight: bold;
	color: #ffffff;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

span.dropDownHeadKeyStone_MoreInfo:hover
{
	font-size: 14pt;
	color: #FFF;
	background-color: #9E82C0;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

MadCap|dropDownHead.KeyStone_Reference
{
	font-size: 12pt;
	text-align: center;
	display: block;
	margin: 5px;
	padding: 10px;
	font-family: Verdana;
	background-color: #25375d;
}

MadCap|dropDownHotspot.KeyStone_Reference
{
	color: #ffffff;
	font-family: Verdana;
}

MadCap|dropDownBody.KeyStone_Reference
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
	margin: auto 0px;
	padding-bottom: 6pt;
	padding-top: 6pt;
	border-top: solid 1px #fff;
	background-color: #25375d;
}

div.dropDownBodyKeyStone_Reference
{
	color: #fff;
	font-family: Arial;
	font-size: 12pt;
	text-align: left;
	padding-bottom: 6pt;
	display: block;
	padding-top: 6pt;
	margin-top: 0.00pt;
	margin-left: 0pt;
	background-color: #25375d;
	border-top: solid 1px #fff;
}

span.dropDownHeadKeyStone_Reference
{
	display: block;
	text-align: center;
	padding-top: 6pt;
	padding-bottom: 12pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	margin-left: 10pt;
	margin-right: 10pt;
	font-family: Verdana;
	font-size: 1.20em;
	font-weight: bold;
	color: #ffffff;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

span.dropDownHeadKeyStone_Reference:hover
{
	font-size: 14pt;
	color: #FFF;
	background-color: #57698F;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

div.dropDownBodyKeyStone_MoreInfo h3,
div.dropDownBodyKeyStone_Reference h3
{
	color: #fff;
	font-weight: bold;
	font-family: verdana;
	margin-left: 16.00pt;
	font-size: 1.00em;
}

MadCap|breadcrumbsProxy
{
	font-family: Arial;
}

/* = CLEAR STYLES
----------------------------*/

.clear div
{
	clear: both;
	padding-top: 5px;
}

.clear_left div
{
	clear: left;
	padding-top: 5px;
}

/* = TOPIC HEADER
----------------------------*/

.header
{
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	font-family: Tahoma;
	padding-right: 12px;
}

div.User
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-left: 5pt;
	padding-right: 5pt;
	/*border-top: solid 2px #8064A2;*/
	border-bottom: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 100%;
	color: #000000;
	background-color: #F2E0AC;
}

div.FirmAuthor
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-left: 5pt;
	padding-right: 5pt;
	/*border-top: solid 2px #8064A2;*/
	border-bottom: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 100%;
	color: #000000;
	background-color: #F2E0AC;
}

div.MoreInfo
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

