/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	page-break-before: avoid;
	color: #041277;
	font-family: Verdana;
	font-size: 13pt;
	font-weight: bold;
	border-bottom: solid 10px #ff0000;
	border-bottom-width: 0.01em;
	padding-top: 18px;
}


h2
{
	page-break-before: avoid;
	font-variant: normal;
	text-transform: uppercase;
	margin-top: 11.67pt;
	margin-bottom: -0.33pt;
	font-weight: bold;
	font-size: 12pt;
	color: #bda41a;
	font-family: Verdana;
	font-variant: small-caps;
}

p
{
	text-align: left;
	font-family: Verdana;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 9pt;
	line-height: 12pt;
}

p.indent1
{
	margin-left: 12px;
}

p.sectionLabel
{
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Verdana;
	color: #060970;
	text-align: left;
	font-weight: bold;
	color: #041277;
	margin-top: 9pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

p.sectionLabelindent1
{
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Verdana;
	color: #060970;
	text-align: left;
	font-weight: bold;
	color: #041277;
	margin-top: 9pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	margin-left: 12px;
}

ol,
ul
{
	text-align: left;
	font-family: Verdana;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 3pt;
	/*line-height: 12pt;*/
	margin-left: 2em;
	padding-left: 0.2em;
	
}

ul
{
	margin: 6pt 0 10pt 12pt;
	padding: 0 0 0 3pt;
}

ul li
{
	margin: 6pt 0pt 3pt 10pt;
	padding: 4.5pt 0 0 3pt;
	font-family: Verdana;
	font-size: 10pt;
	mc-next-tag: li;
}

ul.bulletRedindent1
{
	margin-left: 24px;
}


p.footer
{
	font-family: Verdana;
	font-size: 9pt;
	font-style: italic;
	//mc-float: frame-center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

p.enhancementListPoint
{
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 9pt;
	line-height: 12pt;
}

img
{
	margin: 0px;
	padding: 0px;
}

/* = DEFAULT TABLE
----------------------------*/
table,
table.indent1
{ 
	width: 100%; 
	min-width: 600px;
	border-collapse: collapse; 
	font-size: 10pt;
}

table.indent1
{
	margin-left: 20px;
}

/* Zebra striping */
tr:nth-of-type(odd) 
{ 
	background: #f4f4f4; 
}

tr:nth-of-type(even)
{
	
	background: #e0e0e0;
}

td, 
th 
{ 
	border: 3px solid #fff; 
	text-align: left; 
	vertical-align: top;
}

th 
{ 
	background: #3f66a3; 
	color: white; 
	font-weight: bold; 
	padding: 5px;
}

td
{
	padding: 10px 5px 15px 5px;
	font-family: Arial;
	font-size: 1em;
	padding-bottom: 0.15em;
	margin-bottom: 0.15em;
	text-align: left;
	text-align: bottom;
}

td p
{
	font-size: 1em;
	margin-top: 0em;
}

td ul
{
	margin-top: 0px;
	padding-top: 0px;
	font-size: 10pt;
}

td ul.bulletRed,
td ul.checkmarkRed,
td ul.xmarkRed
{
	margin-left:15px;
	font-size: 10pt;

}

td ul.bulletRed li,
td ul.checkmarkRed li,
td ul.xmarkRed li
{
	margin-top: 0px;
	padding-top: 0px;
	font-size: 10pt;
}