/*<meta conditions="Primary.Not_Implemented" />*/

@media print
{
	body
	{
		font-size: 90%;
		font-family: Arial;
		font-size: 10pt;
		margin: 0px;
		border: 0;
		width: 98%;
		background: #fff;
		padding-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 20px;
	}

	/* = HEADING STYLES
----------------------------*/

	h1
	{
		font-family: Verdana;
		font-weight: bold;
		font-size: 14pt;
		padding-bottom: 4pt;
		color: #0A0A63;
		mc-next-tag: p;
	}

	h1.justifyCenter
	{
		text-align: center;
	}

	h2
	{
		font-family: Verdana;
		font-weight: bold;
		color: #0A0A63;
		font-size: 12pt;
		padding-top: 2pt;
		mc-next-tag: p;
	}

	h3
	{
		font-family: Verdana;
		font-weight: bold;
		color: #32328B;
		font-size: 10pt;
		padding-top: 1pt;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	h4
	{
		font-family: Verdana;
		color: #32328B;
		font-weight: bold;
		font-size: 10pt;
		padding-top: 1pt;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	h5
	{
		font-family: Verdana;
		color: #32328B;
		font-weight: bold;
		font-size: 10pt;
		padding-top: 1pt;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	/* = PARAGRAPH STYLES
----------------------------*/

	p
	{
		font-family: Arial;
		font-size: 10pt;
		margin: 0px;
		margin-left: 0pt;
		padding-bottom: 3.00pt;
		margin-bottom: 3.00pt;
		text-align: left;
		mc-next-tag: p;
	}

	p.noSpace
	{
		margin-bottom: 0pt;
		mc-next-tag: p;
	}

	p.Indent
	{
		margin-left: 5pt;
		mc-next-class: Indent;
		mc-next-tag: p;
	}

	p.Indent_forLabel
	{
		margin-top: 0.00pt;
		margin-left: 11.00pt;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
	}

	p.Indent_forLabel_wIndent
	{
		margin-top: 0.00pt;
		margin-left: 15.00pt;
		mc-next-class: Indent_forLabel_wIndent;
		mc-next-tag: p;
	}

	p.Indent_forH3andLower
	{
		margin-top: 0.00pt;
		padding-bottom: 1.50pt;
		margin-left: 18.00pt;
		text-align: left;
		font-family: Arial;
		font-size: 10pt;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	p.Indent_forH3andLower_and_forLabel
	{
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 27.00pt;
		mc-next-class: Indent_forH3andLower_and_forLabel;
		mc-next-tag: p;
	}

	p.Body_List
	{
		font-family: Arial;
		font-size: 10pt;
		margin: 0px;
		margin-top: 0pt;
		margin-bottom: 2pt;
		mc-next-tag: p;
	}

	p.justifyCenter
	{
		text-align: center;
		margin-top: 0pt;
		margin-bottom: 6pt;
		mc-next-tag: p;
	}

	p.justifyRight
	{
		text-align: right;
		margin-top: 0pt;
		margin-bottom: 6pt;
		mc-next-tag: p;
	}

	/* = PARAGRAPH LABEL STYLES
----------------------------*/

	p.Label
	{
		margin-top: 9.00pt;
		margin-bottom: 2.00pt;
		font-family: Verdana;
		text-align: left;
		font-family: Arial;
		font-weight: bold;
		font-size: 1.00em;
		mc-next-tag: p;
		color: #000;
	}

	p.Label_wIndent
	{
		margin-top: 6.00pt;
		margin-bottom: 1.00pt;
		margin-left: 11.00pt;
		text-align: left;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin-top: 9pt;
		margin-bottom: 0pt;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
		color: #000;
	}

	p.Label_forH3andLower
	{
		margin-top: 5.00pt;
		margin-bottom: 2.00pt;
		margin-left: 18.00pt;
		text-align: left;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin-top: 9pt;
		margin-bottom: 0pt;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
		color: #000;
	}

	p.Label_forH3andLower_wIndent
	{
		margin-top: 6.00pt;
		margin-bottom: 2.00pt;
		margin-left: 27.00pt;
		text-align: left;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin-top: 9pt;
		margin-bottom: 0pt;
		mc-next-class: Indent_forH3andLower_and_forLabel;
		mc-next-tag: p;
		color: #000;
	}

	/* = PARAGRAPH NOTE STYLES
----------------------------*/

	p.Note
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #F2FFFF;
		margin-right: 12pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-tag: p;
	}

	p.Note_Indent_forLabel
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #F2FFFF;
		margin-right: 12pt;
		margin-left: 11pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
	}

	p.Note_Indent_forLabel_wIndent
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #F2FFFF;
		margin-right: 12pt;
		margin-left: 15pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel_wIndent;
		mc-next-tag: p;
	}

	p.Note_Indent_forH3andLower
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #F2FFFF;
		margin-right: 12pt;
		margin-left: 18pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	p.Note_Indent_forH3andLower_and_forLabel
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #F2FFFF;
		margin-right: 12pt;
		margin-left: 27pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower_and_forLabel;
		mc-next-tag: p;
	}

	p.ImpNote
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #FFE4E4;
		margin-right: 12pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-tag: p;
	}

	p.ImpNote_Indent_forLabel
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #FFE4E4;
		margin-right: 12pt;
		margin-left: 11pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
	}

	p.ImpNote_Indent_forLabel_wIndent
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #FFE4E4;
		margin-right: 12pt;
		margin-left: 15pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel_wIndent;
		mc-next-tag: p;
	}

	p.ImpNote_Indent_forH3andLower
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #FFE4E4;
		margin-right: 12pt;
		margin-left: 18pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	p.ImpNote_Indent_forH3andLower_and_forLabel
	{
		font-size: 10pt;
		line-height: normal;
		text-align: left;
		font-family: Tahoma;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #FFE4E4;
		margin-right: 12pt;
		margin-left: 27pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower_and_forLabel;
		mc-next-tag: p;
	}

	p.xCode
	{
		font-size: 12pt;
		line-height: normal;
		text-align: left;
		font-family: Courier New;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #C7D5E7;
		margin-right: 30pt;
		margin-left: 10pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-tag: p;
	}

	p.xCode_Indent_forLabel
	{
		font-size: 12pt;
		line-height: normal;
		text-align: left;
		font-family: Courier New;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #C7D5E7;
		margin-right: 30pt;
		margin-left: 21pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
	}

	p.xCode_Indent_forLabel_wIndent
	{
		font-size: 12pt;
		line-height: normal;
		text-align: left;
		font-family: Courier New;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #C7D5E7;
		margin-right: 30pt;
		margin-left: 25pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forLabel;
		mc-next-tag: p;
	}

	p.xCode_Indent_forH3andLower
	{
		font-size: 12pt;
		line-height: normal;
		text-align: left;
		font-family: Courier New;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #C7D5E7;
		margin-right: 30pt;
		margin-left: 28pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower;
		mc-next-tag: p;
	}

	p.xCode_Indent_forH3andLower_and_forLabel
	{
		font-size: 12pt;
		line-height: normal;
		text-align: left;
		font-family: Courier New;
		padding-top: 6pt;
		padding-bottom: 6pt;
		padding-left: 6pt;
		padding-right: 6pt;
		background-color: #C7D5E7;
		margin-right: 30pt;
		margin-left: 37pt;
		border-radius: 5px;
		-moz-border-radius: 5px;
		mc-next-class: Indent_forH3andLower_and_forLabel;
		mc-next-tag: p;
	}

	p.RelatedTopics
	{
		margin-top: 6.00pt;
		color: #060970;
		margin-bottom: 2.00pt;
		text-align: left;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		color: #0078a9;
		margin-top: 9pt;
		border-top-style: Solid;
		border-top-width: 1px;
		border-top-color: #006699;
		mc-next-class: Body;
		mc-next-tag: p;
	}

	/* = LIST STYLES
----------------------------*/

	ul
	{
		margin-left: 2em;
		padding-top: 0em;
		padding-left: 0.2em;
		margin-top: 0.50em;
		margin-bottom: 1em;
	}

	ul.bulletRed
	{
		margin-left: 2.25em;
		padding-left: 0.25em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
		list-style: url('../Icons/Docs/bulletred.gif');
	}

	ul.bulletRed li
	{
		margin-top: 4.00pt;
		margin-bottom: 2.00pt;
		padding-top: 4.00pt;
		padding-left: 0em;
		mc-next-tag: li;
	}

	ul.bulletRed li p
	{
		font-family: Arial;
		font-size: 10pt;
		margin: 0px;
		margin-left: 0pt;
		padding-left: 0em;
		padding-bottom: 3.00pt;
		margin-bottom: 3.00pt;
		text-align: left;
		mc-next-tag: p;
	}

	ul.bulletRed p.Label
	{
		margin-top: 4.00pt;
		margin-bottom: 2.00pt;
		margin-left: 0pt;
		font-family: Verdana;
		text-align: left;
		font-family: Arial;
		font-weight: bold;
		font-size: 10pt;
		mc-next-tag: p;
		color: #000;
	}

	ul.bulletRed_forLabel
	{
		margin-left: 3.25em;
		padding-left: 0.25em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
		list-style: url('../Icons_Docs/bulletred.gif');
	}

	ul.bulletRed_forH3andLower
	{
		margin-left: 3.75em;
		padding-left: 0.25em;
		margin-top: 0.50em;
		margin-bottom: 0.50em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
		list-style: url('../Icons_Docs/bulletred.gif');
	}

	ul.bulletRed_forH3andLower li
	{
		padding-top: 2.00pt;
	}

	ul.bulletRed_forH3andLower_and_forLabel
	{
		margin-left: 4.50em;
		padding-left: 0.25em;
		margin-top: 0.50em;
		margin-bottom: 0.50em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
		list-style: url('../Icons_Docs/bulletred.gif');
	}

	ul.bulletRed_forH3andLower_and_forLabel li
	{
		padding-top: 2.00pt;
	}

	ol
	{
		margin-left: 2em;
		padding-left: 0.2em;
		margin-bottom: 1em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
	}

	ol.forLabel
	{
		margin-left: 3.30em;
		padding-left: 0.2em;
		margin-bottom: 1em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
	}

	ol.forLabel li
	{
		padding-top: 0pt;
		padding-left: 0.15em;
	}

	ol.forH3andLower
	{
		margin-left: 4.00em;
		padding-left: 0.2em;
		margin-bottom: 1em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
	}

	ol.forH3andLower li
	{
		padding-top: 0pt;
		padding-left: 0.15em;
	}

	ol.forH3andLower_and_forLabel
	{
		margin-left: 4.75em;
		padding-left: 0.2em;
		margin-bottom: 1em;
		font-family: Arial;
		font-size: 10pt;
		text-align: left;
	}

	ol.forH3andLower_and_forLabel li
	{
		padding-top: 0pt;
		padding-left: 0.15em;
	}

	ol.Alpha
	{
		margin-top: 1pt;
		margin-left: 1.25em;
		padding-left: 0.25em;
		margin-bottom: 4pt;
		list-style: lower-alpha;
	}

	ol.Alpha_forH3andLower
	{
		margin-top: 1pt;
		margin-left: 1.95em;
		padding-left: 0.25em;
		margin-bottom: 4pt;
		list-style: lower-alpha;
	}

	li
	{
		margin-top: 4.00pt;
		margin-bottom: 2.00pt;
		padding-top: 4.00pt;
		padding-left: 0.25em;
		mc-next-tag: li;
	}

	li.noSpace
	{
		margin-top: 0pt;
		margin-bottom: 0pt;
		padding-bottom: 0px;
		list-style: url('../Icons_Docs/bulletred.gif');
		mc-next-class: noSpace;
		mc-next-tag: li;
	}

	li.AlphaList
	{
		text-align: left;
		margin-top: 2.00pt;
		margin-bottom: 2.00pt;
		font-family: Arial;
		font-size: 10pt;
		mc-next-class: AlphaList;
		mc-next-tag: li;
	}

	img
	{
		border: none;
	}

	a.Popup
	{
		
	}

	.cursor:hover
	{
		cursor: pointer;
	}

	/* = TABLES STYLES
----------------------------*/

	table.footer
	{
		border: 0;
	}

	table.footer td
	{
		border: 0;
	}

	table
	{
		margin-left: 5pt;
		border: solid 1px;
	}

	table.noBorder
	{
		margin-left: 5pt;
		margin-top: 10px;
		margin-bottom: 15px;
		border: 0px;
	}

	table.noBorder td
	{
		border: 0px;
	}

	table.noBorder_center
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 15px;
		border: 0px;
	}

	table.noBorder_center td
	{
		border: 0px;
	}

	table.Indent
	{
		margin-top: 10.00px;
		margin-bottom: 15.00px;
		margin-left: 15.00pt;
		border: solid 1px;
	}

	table.Indent_forH3andLower
	{
		margin-top: 10.00px;
		margin-bottom: 15.00px;
		margin-left: 27.00pt;
		border: solid 1px;
	}

	th
	{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
		padding-right: 10px;
		text-align: left;
		font-weight: bold;
		background-color: #F0EEE3;
		border: solid 1px;
	}

	td
	{
		vertical-align: top;
		padding-left: 5px;
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 5px;
		border: solid 1px;
	}

	td ul
	{
		margin-top: 0px;
		padding-top: 0px;
	}

	td ul.bulletRed
	{
		margin-left: 15pt;
	}

	td ul.bulletRed li
	{
		margin-top: 0px;
		padding-top: 0px;
		margin-left: 5pt;
	}

	tr.footer
	{
		font-family: Arial;
		font-size: 10pt;
		margin: 0px;
		margin-left: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}

	td.footer
	{
		font-size: 8pt;
		font-family: Verdana;
		color: #0000ff;
	}

	td.center
	{
		text-align: center;
	}

	td.right
	{
		text-align: right;
	}
}

