@media print{

/* = GENERAL STYLES
----------------------------*/

p
{
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	line-height: 12pt;
}

ul
{
	padding-top: 0;
	padding-left: 0;
	margin-top: 0.50em;
	margin-bottom: 1em;
}

ul li
{
	margin: 6pt 0 3pt 10pt;
	padding: 4.5pt 0 0 3pt;
	font-family: Arial;
	font-size: 10pt;
}

ol,
.alpha
{
	padding-top: 0;
	padding-left: 0;
	margin-top: 0.50em;
	margin-bottom: 1em;
}

ol li
{
	margin: 6pt 0 3pt 10pt;
	padding: 4.5pt 0 0 3pt;
	font-family: Arial;
	font-size: 10pt;
}

/* = HEADING STYLES (WITH NUMBERING)
----------------------------*/
h1
{
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
	border-bottom: 1px solid #000;
	color: #000000;
	mc-auto-number-format: 'GH:{n+}.{ =0}{ =0} ';
	page-break-before: always;
}

h2
{
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 12pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	mc-auto-number-format: 'GH:{n}.{n+}{ =0} ';
}

h3
{
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 12pt;
	padding-top: 1pt;
	mc-auto-number-format: 'GH:{n}.{n}.{n+} ';
}

h4
{
	font-family: Arial;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	padding-top: 1pt;
	mc-auto-number-format: 'GH:{n}.{n}.{n}.{n+} ';
}

/* = COVER PAGE AND COPYRIGHT PARAGRAPH STYLES
----------------------------*/
.title
{
	padding-top: 500pt;
	padding-bottom: 20pt;
	font-size: 30pt;
	text-align: center;
}

.subtitle
{
	padding-top: 150pt;
	padding-bottom: 20pt;
	text-align: center;
	font-size: 30pt;
}

.version
{
	padding-top: 100pt;
	text-align: right;
	font-size: 14pt;
	color: #808080;
}
	
.copyright
{
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	page-break-before: always;
}

/* = LABEL STYLES
----------------------------*/
.sectionLabel,
.sectionLabelindent1,
.sectionLabelindent2
{
	font-family: Arial;
	text-align: left;
	font-weight: bold;
	font-size: 11pt;
	color: #000000;
}

.section2Label,
.section2Labelindent1,
.section2Labelindent2
{
	font-family: Arial;
	text-align: left;
	font-weight: bold;
	font-size: 11pt;
	color: #000000;
}

/* = NOTE STYLES
---------------------------*/
.Note,
.Noteindent1,
.Noteindent2,
.Noteindent3
{
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Arial;
	padding: 3px;
	border: 1px solid #F2FFFF;
	background-color: #F2FFFF;
}

.impNote,
.impNoteindent1,
.impNoteindent2,
.impNoteindent3
{
	font-size: 10pt;
	line-height: normal;
	text-align: left;
	font-family: Arial;
	padding: 3px;
	border: 1px solid #FFE4E4;
	background-color: #FFE4E4;
}

.sampCode,
.sampCodeindent1,
.sampCodeindent2,
.sampCodeindent3
{
	font-size: 1em;
	line-height: normal;
	text-align: left;
	font-family: Courier New;
	padding: 0.5em;
	background-color: #C7D5E7;
}

/* = UNORDERED LIST STYLES
----------------------------*/

ul li p,
ul li ul li p,
ul li ul li
{
	font-size: 10pt;
}

ul li p,
ul li ul li p
{
	margin: 0.5em 0;
	padding: 0;	
}

ul li .sectionLabel,
ul li ul li .sectionLabel
{
	margin-top: 0.75em;
	font-family: Arial;
	font-weight: bold;
	font-size: 1em;
	color: #0A0A63;
}

ul li .Note,
ul li .Noteindent1,
ul li .Noteindent2,
ul li .Noteindent3,
ul li .impNote,
ul li .impNoteindent1,
ul li .impNoteindent2,
ul li .impNoteindent3,
ul li .sampCode,
ul li .sampCodeindent1,
ul li .sampCodeindent2,
ul li .sampCodeindent3
{
	font-size: 9pt;
}

ol li ul
{
	padding-left:1em;
}

li p img{
	max-width: 15cm;
}

li ul li p img{
	max-width: 13cm;
}

li ol li p img{
	max-width: 13cm;
}


/* = UNORDERED LIST INDENTATION
----------------------------*/
.bulletRedindent1,
.checkmarkRedindent1,
.xmarkRedindent1
{
	margin-left: 2.0cm;
}

.bulletRedindent2,
.checkmarkRedindent2,
.xmarkRedindent2
{
	margin-left: 2.54cm;
}

.bulletRedindent3,
.checkmarkRedindent3,
.xmarkRedindent3
{
	margin-left: 3.17cm;
}

.bulletRedindent1 li,
.checkmarkRedindent1 li,
.xmarkRedindent1 li
{
	padding: 0.3em 0 0 4px;
}

.bulletRedindent2 li,
.checkmarkRedindent2 li,
.xmarkRedindent2 li
{
	margin: 0.25em 0;
	padding: 0 0 0 4px;
}

.bulletRedindent3 li,
.checkmarkRedindent3 li,
.xmarkRedindent3 li
{
	margin: 0.25em 0;
	padding: 0 0 0 4px;
}

/* = ORDERED LIST STYLES
----------------------------*/
ol.alpha
{
	list-style: lower-alpha;
}

ol li p,
ol li ol li,
ol li ol li p,
ol li ul li,
ol li ul li p
{
	font-size: 10pt;
}

ol li ol,
ol li .alpha
{
	margin: 0.50em 0 0.8em 16px;
}


ol li p
{
	margin: 0.5em 0;
	padding: 0;	
}

ol li .sectionLabel,
ol li ol li .sectionLabel
{
	margin-top: 0.75em;
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
	color: #0A0A63;
}

ol li .Note,
ol li .Noteindent1,
ol li .Noteindent2,
ol li .Noteindent3,
ol li .impNote,
ol li .impNoteindent1,
ol li .impNoteindent2,
ol li .impNoteindent3,
ol li .sampCode,
ol li .sampCodeindent1,
ol li .sampCodeindent2,
ol li .sampCodeindent3
{
	font-size: 10pt;
}

li p img{
	max-width: 15cm;
}


/* = ORDERED LIST STYLES - INDENTATION
----------------------------*/

ol.indent1
{
	margin-left: 28px;
}

ol.indent2
{
	margin-left: 38px;
}

ol.indent3
{
	margin-left: 56px;
}

ol.indent1 li
{
	font-size: 10pt;
	padding: 0.3em 0 0 4px;
}

ol.indent2 li
{
	font-size: 10pt;
	margin: 0.25em 0;
	padding: 0 0 0 4px;
}

ol.indent3 li
{
	font-size: 10pt;
	margin: 0.25em 0;
	padding: 0 0 0 4px;
}

ol li ul li{
		text-indent: -8px;
}

/* = TABLE
----------------------------*/
table,
table.indent1
{ 
	border-style: solid;
	border-color: #D9D9D9;
	border-collapse: collapse; 
	max-width: 80%;
	font-size: 10pt;
	font-family: Arial;
	page-break-inside: avoid;
}

.noborder,
.noborder tr,
.noborder th,
.noborder td
{
	border:none;
}

table.indent1
{
	margin-left: 20px;
}

tr{
	page-break-inside: avoid;
}

th 
{ 
	background: #F2F2F2; 
	color: black;
	font-weight: bold; 
	padding: 5px;
	font-family: Arial;
	text-align: center;
	border-style: solid;
	border-color: #D9D9D9;
	page-break-inside: avoid;
}

td
{
	padding: 5px 5px 5px 5px;
	font-family: Arial;
	font-size: 10pt;
	padding-bottom: 0.15em;
	margin-bottom: 0.15em;
	text-align: left;
	border-style: solid;
	border-color: #D9D9D9;
}


td p
{
	font-size: 10pt;
}


td ul
{
	margin-top: 0;
	padding-top: 0;
	font-size: 10pt;
}

td ul.bulletRed,
td ul.checkmarkRed,
td ul.xmarkRed
{
	margin-left:15px;
	font-size: 10pt;
}

td ul.bulletRed li,
td ul.checkmarkRed li,
td ul.xmarkRed li
{
	margin-top: 0;
	padding-top: 0;
	font-size: 10pt;
}


img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;

}
}