// Brand Colour Palette
$royal-blue: #002d72;
$gold: #c99700;
$blue-horizon: #0085ad;
$solution-cloud: #4263eb;
$solution-workingpapers: #563aaf;
$solution-review: #03a59d;
$solution-financials: #800080;
$solution-time: #a81a4c;
$solution-taxation: #009933;
$solution-audit: #c99700;
$solution-analytics: #e57200;
$solution-pcr: #000;
$solution-rct: #000;

// Typography
$text-black: #32363a;
$page-header: #3B454E;
$text-light-gray: #9daab6;
$white: #ffffff;

$dark-grey: #323232;
$light-grey: #f5f5f5;
$light-grey-2: #ddd;

$caseware-blue: #0082ad;