
/**********************************
***********************************
    
  Mk4 - specific react components

***********************************
***********************************/


.container--mk4 {
    max-width: 93rem;
}

#main.mk4 > div {
    margin: 4.8rem auto;
}

.mk4btn {
    padding: 1.2rem 2.4rem;
    color: $white;
    background-image: linear-gradient(#138EB3, $caseware-blue);
    transition: 0.5s all;
    text-align: center;
    border: 0;

    &:hover {
        text-decoration: none;
        color: $white;
        background-image: linear-gradient($caseware-blue, #138EB3);
    }
}

.arrow-cta {
    position: relative;
    color: $caseware-blue-AA;
    font-weight: bold;

    & > div {
        position: relative;
        display: inline-block;

        &:after {
            content: '\203A';
            position: absolute;
            right: -1.2rem;
        }
    }

    &:hover {
        color: #00ace0;
        text-decoration: none;
    }
}

.relative {
    position: relative;
}

a.btn--arrow {
    display: inline-block;
    padding: 3px 0;

    &:after {
        content: '';
        display: inline-block;
        position: relative;
        vertical-align: middle;
        top: 0;
        left: 0.6rem;
        width: 0.6rem;
        height: 0.6rem;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
    }
}

.iframe-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9 / 16 * 100% */

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}




/********************
    Banner
*********************/

.banner {
    position: relative;
    color: $white;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 75%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    }

    .container {
        position: relative;
        z-index: 1;
    }
    
    &--short {
        .banner__wrapper {
            height: 30vh;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 30rem;
        height: 50vh;
        padding-bottom: 6.2rem;

        span {
            display: block;
            padding: 1.2rem 0;
            line-height: 2.2rem;
            font-weight: 300;
        }
    }  
    
    .cta {
        display: block;
        margin-top: 2rem;

        a {
            display: inline-block;
            margin-right: 1.2rem;
            padding: 1.2rem 2.4rem;
            color: $white;
            transition: 0.5s all;

            &:hover {
                text-decoration: none;
            }

            &:first-child{
                background-color: $caseware-blue-AA;
                &:hover {
                    background-color: #1a8fb5;
                }
            }

            &:last-child {
                background: rgba(255, 255, 255, 0.2); 
                backdrop-filter: blur(8px);  
                &:hover {                    
                    background: rgba(255, 255, 255, 0.3); 
                }
            }             
        }
    }
}



/********************
In This Article
*********************/

.ita {
    padding: 0;

    span {
        margin-bottom: 1.5rem;
        font-weight: 700;
        font-size: 1.6rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        line-height: 1.3;

        li {
            margin: 3px 0;
            padding: 3px 0;
        }
    }
}


/********************
 Social Media Shares
*********************/

.social {
    position: relative;
    padding: 4.8rem 0 0;

    .col-sm-12 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__wrapper {
        margin: 0 0.6rem 0 0;
    }

    span {
        font-weight: 700;
        line-height: 0;
    }

    .react-share__ShareButton,
    .react-share__ShareButton svg {
        display: block;
    }
}



/********************
      Carousel
*********************/

.carousel {
    position: relative;
    margin-bottom: 4rem;
    padding-bottom: 50%;
    height: 0;
    top: 0;

    .slide {
        position: relative;
        margin: 0;
        padding-bottom: 50%;
        padding-top: 25px;
        height: 0;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 70%;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(rgba($dark-grey, 0), rgba($dark-grey, 0.6));
        }

        & > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__ribbon {
            position: absolute;
            display: inline-block;
            padding: 2.4rem 4.8rem 1.8rem;
            bottom: 2.4rem;
            min-width: 50%;
            background-color: $caseware-blue;
            color: $white;
            z-index: 1;

            h2 {
                margin-top: 0;
            }

            a {
                color: $white;
            }
        }

        &__monitor {
            position: relative;

            .wrapper {
                position: absolute;
                right: 0;
                top: 2rem;
                bottom: 0;
                width: 60%;
                z-index: 10;
            }

            .monitor {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
                width: auto;
            }

            .screen {
                position: relative;
                margin-top: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 89%;
                height: 70%;
            }
        }

        &--mobile {
            display: block;

            .slide__ribbon {
                width: 100%;
            }
        }
    }

    .slick-arrow {
        &:before {
            color: $dark-grey !important;
        }
        &.slick-prev:before {
            content: '\2039';
        }
        &.slick-next:before {
            content: '\203A';
        }
    }
}


/********************
    Video Gallery
*********************/

.video-gallery {
    .thumbnails {
        display: flex !important;
        justify-content: center;
        margin-top: 1.2rem;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;

        &__block {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            width: 100%;
            height: 0;

            & > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        li {
            position: relative;
            flex: 1;
            margin: 0 5px;
            padding: 0;
            max-width: 33%;
            cursor: pointer;
        }
    }

    .slide--mobile {
        display: block;

        a {
            display: block;
            margin-top: 2.4rem;
            width: 100%;
        }
    }
}


.quick-links {
    h2 {
        margin-bottom: 3rem;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        // padding: 2.4rem;
        // -webkit-box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);
        // -moz-box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);
        // box-shadow: 0 0 15px 0 rgba(80,80,80,0.2);

        & > a:hover {
            text-decoration: none;
        }
    }

    .quick-link {
        display: flex;
        // flex: 1;
        flex-direction: row;
        align-items: center;
        // margin: auto;
        padding: 1.2rem;
        width: 50%;

        & > div {
            &:last-child {
                flex: 1;
                padding-left: 2.4rem;
            }
        }

        p {
            padding-top: 1.2rem;
            font-size: 1.6rem;
        }

        img {
            max-width: 12rem;
            max-height: 8rem;
        }
    }
}

@include mq(sm) {

    .banner {
        &__wrapper span {
            max-width: 75%;
        }
    }


    .ita {
        padding: 1.2rem 1.2rem 0 0;
    }

    .carousel,
    .video-gallery  {
        .slide--mobile {
            display: none;
        }
    }

    .carousel {
        margin-bottom: 7.2rem;
    }

}

@include mq(md) {
    
    .social {
        position: absolute;
        left: 1.2rem;
        top: 4.8rem;
        padding: 0;

        .container {
            width: auto;
        }

        .col-sm-12 {
            flex-direction: column;
            padding-left: 0;
        }

        &__wrapper {
            margin: 0 0 0.6rem 0;
        }
    }
}

@include mq(lg) {

    .banner {
        h1 {
            font-size: 6rem;
        }
    }

    .social {
        top: 4.8rem;
    }
}
