* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    top: 0 !important;
    font-size: 1.5rem !important;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -85rem;

    &:after {
        content: '';
        display: block;
        height: 85rem;
    }
}

@media screen and (min-width: 450px) {
    .page-wrap {
        margin-bottom: -40rem;
        &:after {
            height: 40rem;
        }
    }
}

#main {
    margin-bottom: 3em;
    margin-top: 1.5em;
    flex-grow: 1;
}

.flex-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    // display: block;
    max-width: 100%;
    height: auto;
}

// hide google translate pop ups
#google_translate_element{width:300px;float:right;text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;} 
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip .skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

button.olark-launch-button {
    z-index: 1000!important;
}