// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: $text-black;

$font-size-h1:            2.5em;
$font-size-h2:            1.75em;
$font-size-h3:            1.1875em;

$headings-font-weight:    bold !default;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($royal-blue, 25%);
$input-color-placeholder: lighten($text-color, 30%);

//** Global textual link color.
$link-color:            $blue-horizon !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 10%) !default;

