// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Colours
@import "colours";

// Variables
@import "variables";

// Global partial
@import "page";

// sass-mq breakpoints. These bp's follow bootstraps
// bps other than large BP which is changed from 
// 1140>1460 for our layout
$mq-breakpoints: (
    xs:   480px,
    sm:   768px,
    md:   992px,
    lg:   1200px,
    lg-x: 1460px
);

// Sass-MQ [https://github.com/sass-mq/sass-mq]
@import "node_modules/sass-mq/_mq";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Type
@import "type";

/* =================
	Partials
   ================= */

@import "partials/header";
@import "partials/header-mobile";
@import "partials/mobile-nav";
@import "partials/toc";
@import "partials/toc-content";
@import "partials/sub-toc";
@import "partials/content-filter";
@import "partials/back-to-top";
@import "partials/image-modal";
@import "partials/download-pdf";
@import "partials/video-iframe";
@import "partials/header-nav";
@import "partials/user-feedback";
@import "partials/footer";
@import "partials/error-pages";
@import "partials/cloud-index";
@import "partials/cookie-consent";

/* =================
	Pages
   ================= */

@import "pages/documentation";

/* =================
	Overrides
   ================= */