.pdf-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(24, 48, 85, 0.0);
    transition: background-color 0.2s ease-out 0s;

    .pdf-modal--shown & {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: rgba(24, 48, 85, 0.3);
    }

    .pdf-modal__wrap {
        background-color: $white;
        padding: 15px;
        position: relative;
    }

    .pdf-modal__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
        max-width: 380px;

        @include mq(sm) {
            padding: 25px; 
        }
    }

    .pdf-modal__button-wrap {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        // max-width: 100%;
        

        .pdf-modal__input-wrap {
            // border-radius: 4px;
            // background: #f1f1f1;
            margin-bottom: 5px;
            // border: 1px solid #d4dadf;

            input {
                padding: 0px 8px;
                // border: none;
                outline: none;
                // border-radius: 4px;
                border: 1px solid #d4dadf;
                width: 100%;
                // margin: 0px;
                // background: transparent;
                
            }
        }

        input, button {
            height: 38px;
        }

        button {
            // border-radius: 4px;
            border: 1px solid #d4dadf;
            border: 1px solid $blue-horizon;
            background: none;
            font-weight: bold;
        }
    }

    .pdf-modal__file-download-btn {
        font-size: 0.875em;
        // align-self: flex-end;
        line-height: 1;
        margin-top: 5px;

    }

    .pdf-modal__footer {
        p {
            margin-bottom: 0;
            line-height: 1;
            font-size: 0.875em;
        }
    }

    .pdf-modal__close {
        position: absolute;
        display: flex;
        align-items: center;
        top: 15px;
        right: 15px;
        cursor: pointer;

        .glyphicon-remove {
            margin-left: 5px;
        }
    }

    .pdf-modal__close-text {
        line-height: 1;
        font-size: 0.813em;
    }

    #error{
        color: red;
        display: none;
    }

    .pdf-modal__file-download-btn {
        cursor: pointer;
    }

    .btn-twitter {
        background-color: #1da1f2;
        color:white;
    }
    .btn-google {
        background-color: #ea4335;
        color:white;
    }
    .btn-facebook {
        background-color: #1877f2;
        color:white;
    }
    .btn-linkedin {
        background-color: #007bb5;
        color:white;
    }
}