.footer {
    position: relative;
    margin-top: 4.8rem;
    min-height: 78rem;
    background: $onyx;
    color: $white;
    z-index: 1;

    .row > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: center;
        align-items: flex-start;
        padding: 2.4rem 0;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        margin-top: 2.4rem;
        padding: 0 0.6rem;
        // flex: 1;

        &--sm-full {
            flex: 0 0 100%;
            flex-direction: row;
            justify-content: center;
            padding: 1.2rem 0;
        }

        &.contact {
            min-width: 22rem;
            & > div {
                font-weight: 300;
            }
        }
    }

    &__logo {
        width: 250px;
    }
    
    &__social-media {
        justify-content: flex-end;
        margin: 0 !important;

        a {
            color: $white;
            font-size: 2em;
            display: inline-flex;
            text-decoration: none;

            &:not(:last-of-type) {
                margin-right: 3px;
            }
        }
    }

    &__links {
        align-items: flex-start !important;
        padding-bottom: 2.4rem;

        span {
            font-size: 2rem;
            padding-bottom: 2.2rem;
        }
    }

    p {
        margin: 0;
        font-size: 0.875em;
        line-height: 1;

        @include mq(md) {
            margin: 0 0 0 0;
        }
    }

    a {
        display: block;
        color: $white;
        font-weight: 300;

        span {
            font-weight: normal;
        }
    }

    .footer__copyright {
        width: 100%;
        padding: 12px;
        background-color: $dark-grey;
        text-align: center;
        font-size: 12px;
    }
}

.newsletter {
    min-height: 16rem;
    z-index: 2;

    &__container {
        height: 100%;
        background-color: $grey-1;
        box-shadow: 0 10px 5px rgba(#323232, 0.4);
    }
}

@include mq($from: footer) {
    .footer {
        min-height: 30rem;
        padding-top: 2.4rem;

        .container {
            min-width: 79rem;
        }
        
        .row {
            flex-wrap: nowrap;
        }
    
        .col {
            flex: 1;
            margin-top: 0;

            &--sm-full {
                flex: auto;
                justify-content: flex-start;
            }

            &.stretch {
                flex-grow: 2;
            }

            &.contact {
                margin-left: 1.2rem;
            }
        }

        &__social-media {
            justify-content: flex-end !important;
        }
    }
}