.footer {
    background-color: $blue-horizon;
    color: $white;
    margin-top: 8rem;
    // margin-top: -8rem;
    // padding-top: 10rem;
    z-index: 1;

    .row > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: center;
        align-items: flex-start;
        padding: 2.4rem 1.2rem;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        margin-top: 2.4rem;
        // flex: 1;

        &--sm-full {
            flex: 0 0 100%;
            flex-direction: row;
            justify-content: center;
            padding: 1.2rem 0;
        }
    }

    &__logo {
        width: 250px;
    }
    
    &__social-media {
        justify-content: flex-end;

        a {
            color: $white;
            font-size: 2em;
            display: inline-flex;
            text-decoration: none;

            &:not(:last-of-type) {
                margin-right: 3px;
            }
        }
    }

    &__links {
        align-items: flex-start !important;

        span {
            font-size: 2rem;
            padding-bottom: 2.2rem;
        }
    }

    p {
        margin: 15px 0 15px 0;
        font-size: 0.875em;
        line-height: 1;

        @include mq(md) {
            margin: 0 0 0 0;
        }
    }

    a {
        display: block;
        color: $white;
    }

    .footer__copyright {
        width: 100%;
        padding: 12px;
        background-color: $dark-grey;
        text-align: center;
        font-size: 12px;
    }
}

.newsletter {
    min-height: 16rem;
    z-index: 2;

    &__container {
        height: 100%;
        background-color: $light-grey;
        box-shadow: 0 10px 5px rgba(#323232, 0.4);
    }
}

@include mq($from: md) {
    .footer {
        .row {
            flex-wrap: nowrap;
            padding: 2.4rem 0;
        }
    
        .col {
            flex: 1;
            margin-top: 0;

            &--sm-full {
                flex: auto;
                justify-content: flex-start;
            }

            &:first-child {
                flex-basis: 7rem;
            }
        }

        &__social-media {
            justify-content: flex-end !important;
        }
    }
}