.header__nav-wrap,
.mobile-nav__wrapper {
    .language__dropdown {
        position: relative;
        margin-left: 25px;
        
        > a {
            font-weight: bold;
        }

        i.fa-globe-americas {
            margin-left: 2px;
        }
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: $text-black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .language__dropdown,
    .filters__dropdown {
        .fa-angle-down {
            margin-left: 5px;
        }
    }
    
    .language__dropdown:hover .dropdown-content {
        display: block;
    }
    
    .filters__dropdown {
        margin-left: 20px;
        font-weight: bold;

        > a {
            font-weight: bold;
        }

        i.fa-filter {
            margin-left: 2px;
        }

        i.fa-angle-down {
            transition: transform .4s;
        }

        .filter-dropdown-is-expanded & {
            i.fa-angle-down {
                transform: rotate(-180deg);
            }
        }
    }
}

header.header {
    .expanded-filters {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s;

        .filter-dropdown-is-expanded & {
            max-height: 100px;
        }
    }

    
}

.filters__menu {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .switch-wrap {
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
            margin-right: 25px;
        }

        .switch-name {
            font-size: 18px;
            font-weight: bold;
            color: #CCC;
            transition: color .4s;
        }

        &.is-active .switch-name {
            color: $text-black;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 19px;
        margin: 0 5px 0 0;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 3px;
        bottom: 3px;
        background-color: $white;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        transform: translateX(16px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}