.header__dropdown {
    position: relative;
    margin-left: 25px;
    
    > a {
        font-weight: bold;
    }

    .glyphicon-menu-down {
        font-size: 0.775em;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $text-black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.header__dropdown:hover .dropdown-content {
    display: block;
}

.header__filters {
    margin-left: 15px;
    font-weight: bold;
}