.header__nav-wrap,
.mobile-nav__wrapper {
    .language__dropdown {
        position: relative;
        margin-left: 25px;
        
        > a {
            font-weight: bold;
        }
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: $text-black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .language__dropdown:hover .dropdown-content,
    .filters__dropdown:hover .dropdown-content {
        display: block;
    }
    
    .filters__dropdown {
        margin-left: 15px;
        font-weight: bold;

        > a {
            font-weight: bold;
        }
    }
}

header.header {
    .expanded-filters {
        max-height: 0;
        overflow: hidden;
        transition: max-height 5s;

        .filter-dropdown-is-expanded & {
            max-height: 100px;
        }
    }

    .filters__menu {
        display: flex;
        margin-bottom: 20px;

        .filters__item {
            background-color: #f1f1f1;
            color: #a8a8a8;
            padding: 7px 10px;
            border-radius: 50px;
            line-height: 1;
            display: flex;
            align-items: center;
            cursor: pointer;

            .fa-circle {
                color: $white;
                font-size: 0.7em;
                margin-right: 5px;
            }

            &.se {
                .fa-circle { color: rgba(66, 99, 235, 0.4); }
            }
            &.analytics {
                .fa-circle { color: rgba(229, 114, 0, 0.4); }
            }
            &.time {
                .fa-circle { color: rgba(168, 26, 76, 0.4); }
            }
            &.working-papers {
                .fa-circle { color: rgba(86, 58, 175, 0.4); }
            }

            &.active-filter {
                color: $white;

                .fa-circle {
                    color: $white;
                }
            }

            &.active-filter {
                &.se { background-color: $solution-cloud; }
                &.analytics { background-color: $solution-analytics; }
                &.time { background-color: $solution-time; }
                &.working-papers { background-color: $solution-workingpapers; }
            }

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}