#resultList > li {
    list-style: none;
}

.url {
    color:green;
}

#pagination {
    margin: 15px;
    border-top: 2px solid #0085ad;
    padding-top: 10px;
}

#pagination > .specificPage, 
#pagination > .previousPage, 
#pagination > .nextPage {

    padding: 12px;
    font-size: 22px;
    margin: 25px 10px;
    
}

