.toc-topics {
    &.affix {
        top: 20px;
    }

    h5 {
        font-size: 1em;
        font-weight: bold;
    }

    // bootstrap overrides
    .nav > li > a {
        padding: 0;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: inherit;
    }
    // end bootstrap overrides

    ul {
        list-style: none;
        padding-left: 0;
        
        li {
            padding-left: 5px;
            border-left: 3px solid transparent;

            &.toc-topics--active-nav {
                border-left: 3px solid $blue-horizon;
            }
        }
    }
}