.toc-topics {
    &.affix {
        top: 20px;
    }

    h5 {
        font-size: 1em;
        font-weight: bold;
    }

    // bootstrap override
    .nav > li > a {
        padding: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
        
        li {
            padding-left: 5px;
            border-left: 3px solid transparent;
        }

        li:first-of-type {
            border-left: 3px solid $blue-horizon;
        }
    }
}