.toc-content {
    padding: 0;

    @include mq(sm) {
        padding: 0 25px;
    }

    img {
        max-width: 100%;
    }

    ol {
        padding-left: 16px;
    }

    .topiccontents {
        @include mq(lg) {
            display: none;
        }
    }
}




// css that is used in the old site
// that we will reuse for the new version
// MUST BE REFACTORED BEFORE USE
// MUST BE REFACTORED BEFORE USE
// MUST BE REFACTORED BEFORE USE
// MUST BE REFACTORED BEFORE USE
// MUST BE REFACTORED BEFORE USE
// MUST BE REFACTORED BEFORE USE
.note {
    padding-left: 10px !important;
    background-color: rgba(0, 80, 255, 0.1);
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 7px solid rgba(0, 80, 255, 0.66);
}
.warning {
    padding-left: 10px !important;
    background-color: rgba(255, 253, 0, 0.23);
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 7px solid rgba(255, 149, 11, 0.66);
}
.divAltText {
    font-style: italic;
}
.tip {
    padding-left: 10px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(2, 145, 0, 0.23);
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    border-left: 7px solid rgba(2, 145, 0, 0.66);
}
.bestpractice {
    padding-left: 10px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 149, 11, 0.1);
    padding: 5px;
    border-left: 7px solid rgba(255, 149, 11, 0.66);
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
}