/*<meta />*/

/* For Inline Help Reference Pages */
html.Default-0nav
{
	mc-master-page: url('../MasterPages/Default-0nav - INTERNAL.flmsp');
}

/* For Epic Topic Pages */
html.Default-1col
{
	mc-master-page: url('../MasterPages/Default-1col-epic - INTERNAL.flmsp');
}

/* For Category Pages */
html.Default-1col-category
{
	mc-master-page: url('../MasterPages/Default-1col-category - INTERNAL.flmsp');
}

/* For Centered Pages - Like the Context Sensitive Landing Page */
html.Default-0col
{
	mc-master-page: url('../MasterPages/Default-0col - INTERNAL.flmsp');
}

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}
