/*<meta />*/

/* For Inline Help Reference Pages */

html.Default-0nav
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

/* For Epic Topic Pages */

html.Default-1col
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

/* For Category Pages */

html.Default-1col-category
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

/* For Category Pages WITHOUT GTranslate */

html.Default-1col-category-GTranslateOFF
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

/* For Centered Pages - Like the Context Sensitive Landing Page */

html.Default-0col
{
	mc-master-page: url('../MasterPages/Empty.flmsp');
}

img
{
	border: none;
}

a.Popup
{
	
}

h1
{
	
}
